.fordCarousel {
    background-image: url(./../images/carousel.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 590px;
    .fordCarousel__content {
        
    }
}